@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title {
  color: pink;
  border-bottom: 1px solid blue;
}
.nav-button {
  border-radius: 20px;
  background-color: lightblue;
}
